# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer
local   repmgr          repmgr                                  trust
host    repmgr          repmgr          127.0.0.1/32            trust
local   all             all                                     peer
host    all             all             127.0.0.1/32            md5

local   replication     postgres                                trust
local   replication     repmgr                                  trust
host    replication     repmgr          127.0.0.1/32            trust


{% for host in groups[pg_replication_group] %}
host    replication     {{repmgr_user}}   {{hostvars[host]['ansible_ens18']['ipv4']['address'] }}/32   trust
host    all             all               {{hostvars[host]['ansible_ens18']['ipv4']['address'] }}/32   trust
{% endfor %}

host    all             all             10.0.0.0/8              md5
